<a href="https://colab.research.google.com/github/LuisaBeccar/Clases-de-CoderHouse-Data-Science/blob/main/Copy_Nans_LuisaBeccarVarela_TP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TP FINAL - CIENCIA DE DATOS 61140 - CODERCHOUSE 2024**

LUISA BECCAR VARELA

**BASE DE DATOS**: https://www.kaggle.com/datasets/reihanenamdari/breast-cancer

**OBJETIVO**: predecir si una mujer estará viva a 60 meses del diagnosico de cancer de mama, segun las caracteristicas del mismo.


En la siguiente linea de trabajo me dedicare a describir los atributos de la base, para luego romper la perfeccion de alguna manera didactica para hacer uso de lo aprendido en la clase de datos faltantes.

Atributos de la "Breast Cancer":

- Age: edad de los sujetos: 30-69 años <br>
- Race: raza de los sujetos: White, Black, Other (American Indian/AK Native, Asian/Pasific Islander) <br>
- Marital Status: Married (casado), Single (soltero), Divorced (divorciado), Widowed (enviudado), Separated (separado) <br>
- T Stage: clasificacion tumoral segun tamaño de la masa tumoral: T1, T2, T3, T4 ** <br>
- N Stage: clasificacion tumoral segun cantidad de nodulos linfaticos afectados por tumor: N1, N2, N3 <br>
- 6th Stage: clasificacion en estadios segun el T y N: IIA, IIB, IIIA, IIIB, IIIC <br>
- differrentiate: grado de diferenciacion de las celulas del tumor: Poorly differentiated, Moderately differentiated, Well differentiated, Undifferentiated
- Grade: grado del tumor ** segun?: 1, 2, 3, 4 o anaplasico <br>
- A Stage: estadio de diseminacion: Regional, Distant (diseminado) <br>
- Tumor Size: en milimetros (de 1  a 140mm) <br>
- Estrogen Status: Positive o Negative <br>
- Progesterone Status: Positive o Negative <br>
- Regional Node Examined: numero de nodulos linfaticos regionales examinados (1-61 nodulos) <br>
- Reginol Node Positive: cantidad de ganglios regionales examinados que resultaron positivos a malignidad (1 a 46) - Luego modificada a "Regional Node Positive" <br>
- Survival Months: meses de sobrevida del suejeto (1 a 107)  <br>
- Status: estado actual: Alive (vivo) o Dead (murió) <br>
<br>
- Luego yo cree la columna Sobrevida, en la cual es True si Suvival months es mayor o igual a 60 meses (5 años), y False si fallecio previo a ese tiempo.

<br>
<br>
Segun el repositorio de keagle, el dataset se obtuvo de la actualizacion del programa SEER del National Cancer Institute en noviembre 2017, que da informacion de estadisticas de pacientes con cancer. Se trata de diagnosticos de mujeres con carcinoma ductal infiltrante y carcinoma lobular entre el 2006 y 2010. Se excluyeron de la base ya desde un principio aquellas pacientes con tamaño tumoral desconocido, sin ganglios regionales examinados, sin gangilios regionales positivos y cuyos meses de supervivencia eran menores de uno.
<br>
<br>

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from sklearn.impute import SimpleImputer

In [ ]:
url = 'https://raw.githubusercontent.com/LuisaBeccar/Clases-de-CoderHouse-Data-Science/main/Breast_Cancer.csv'
df = pd.read_csv(url)

In [ ]:
# Agrego columna Sobrevida si "survival months" > 3 meses
Sobrevida = []
for i in df["Survival Months"]: #para cada elemento de "survival months", evalua si es mayor a 60 meses (5 años) (TRUE) y el resultado booleano (TRUE O FALSE) agregalo a la lista "Sobrevida"
    Sobrevida.append(i >= 60)
Sobrevida = pd.Series(Sobrevida)
df["Sobrevida"] = Sobrevida

# modificar el nombre de Reginol Node Positive por Regional Node Positive
df.rename(columns={'Reginol Node Positive':'Regional Node Positive'}, inplace=True)

# modificar el nombre de "T Stage " por "T Stage" sin espacio final
df.rename(columns={'T Stage ':'T Stage'}, inplace=True)

# modificar el nombre de "differentiate" por "Differentiate" sin espacio final
df.rename(columns={'differentiate':'Differentiate'}, inplace=True)

In [ ]:
# probando codigos para investigar la base de datos
"""
print(df.columns)
print("--------------------------------------")
print(df.dtypes)
print("--------------------------------------")
print(df.index)
print("--------------------------------------")
"""
print(df.info())
print("--------------------------------------")
#print(df.shape)
#print("--------------------------------------")
print(df.describe())
print("--------------------------------------")
print(df.describe(include=object))
print("--------------------------------------")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB
None
--------------------------------------
               Age   Tumor Size  Regional Node Examined  \
count  4024.000000  4024.000000             4024.000000
mean     53.972167    30.473658               14.357107
std       8.963134    21.119696                8.099675
min      30.000000     1.000000                1.000000
25%      47.000000    16.000000                9.000000
50%      54.000000    25.000000               14.000000
75%      61.000000    38.000000               19.000000
max      69.000000   140.000000               61.000000

       Reginol Node Positive  Survival Months
count            4024.000000      4024.000000
mean                4.158052        71.297962
std                 5.109331        22.921430
min                 1.000000         1.000000
25%                 1.000000        56.000000
50%                 2.000000        73.000000
75%                 5.000000        90.000000
max                46.000000       107.000000
--------------------------------------
         Race Marital Status T Stage  N Stage 6th Stage  \
count    4024           4024     4024    4024      4024
unique      3              5        4       3         5
top     White        Married       T2      N1       IIA
freq     3413           2643     1786    2732      1305

                    differentiate Grade   A Stage Estrogen Status  \
count                        4024  4024      4024            4024
unique                          4     4         2               2
top     Moderately differentiated     2  Regional        Positive
freq                         2351  2351      3932            3755

       Progesterone Status Status
count                 4024   4024
unique                   2      2
top               Positive  Alive
freq                  3326   3408

La base tiene 4024 observacions y 17 atributos, y no tiene datos faltantes. <br>
Tampoco parece haber datos outliers en ninguna columna. <br>
Atributos numericos: Age, Tumor Size, Regional Node Examined, Reginol Node Positive, Survival Months <br>
Atributos categoricos: Race, Marital Status, A State, Estrogen Status, Progesterone Status, Status, Sobrevida <br>
Atributos categoricos ordinales: N Stage, 6th Stage, differentiate, Grade,

In [ ]:
# CORROBORANDO QUE NO HAY VALORES FALTANTES EN MI BASE DE DATOS
print("Con isnull y sum:")
print(df.isnull().sum())
print("-----------------")
print("Con isna y any:")
print(df.isna().any())

Con isnull y sum:
Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64
-----------------
Con isna y any:
Age                       False
Race                      False
Marital Status            False
T Stage                   False
N Stage                   False
6th Stage                 False
differentiate             False
Grade                     False
A Stage                   False
Tumor Size                False
Estrogen Status           False
Progesterone Status       False
Regional Node Examined    False
Reginol Node Positive     False
Survival Months           False
Status                    False
dtype: bool

In [ ]:
nun_missing = (df[['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status', 'Sobrevida']] == 0).sum()
print(nun_missing)
# en booleano False es cero, por eso aparece 1203 ceros en Sobrevida, que son los falsos
""" chequeable con
verdaderosSobrevida = (df[['Sobrevida']] == 1).sum()
falsosSobrevida = (df[['Sobrevida']] == 0).sum()
total = verdaderosSobrevida + falsosSobrevida
total
"""

Age                          0
Race                         0
Marital Status               0
T Stage                      0
N Stage                      0
6th Stage                    0
differentiate                0
Grade                        0
A Stage                      0
Tumor Size                   0
Estrogen Status              0
Progesterone Status          0
Regional Node Examined       0
Reginol Node Positive        0
Survival Months              0
Status                       0
Sobrevida                 1203
dtype: int64

" chequeable con \nverdaderosSobrevida = (df[['Sobrevida']] == 1).sum()\nfalsosSobrevida = (df[['Sobrevida']] == 0).sum()\ntotal = verdaderosSobrevida + falsosSobrevida\ntotal\n"

Entonces, vamos a elegir un dato y hacer de cuenta que es una entrada erronea <br>
Digamos que está mal la entrada de "Marital Status" = Divorced. Hagamos que esa opcion no exista, y la queremos transformar en "Separated" ya que no nos interesa el estado legal de la separacion de pareja sino solo los hechos.
<br>
1) Reemplazare los "Divorced por Nan y luego aquellos seran sustituidos por "Separated".
<br>
Ademas, tomaremos como imposible que alguien haya vivido menos de 3 meses, planteando que pudo haber habido un error de calculo de la enfermedad. <br>
2)a)Reemplazare los meses <= 3 por 0 y luego b) eliminare los registros cuyos Survival Months sea 0.

In [ ]:
""" 1) MARITAL STATUS DIVORCED A SEPARATED """

print((df['Marital Status']=="Separated").sum()) #45
# replace 'Divorced' values with 'Nan'
"""
df['Marital Status']= df['Marital Status'].replace("Divorced", np.nan)
df
"""
print(df['Marital Status'].isnull().sum())
# veo que hay 486 nans ahora en Marital Status, es decir habia 486 Divorciados
# ahora los reemplazare por "Separated"
#df['Marital Status'].fillna("Separated", inplace=True)
#df

print(df['Marital Status'].isnull().sum()) # 0 isnulls
print((df['Marital Status']=="Separated").sum()) # 531 "Separated"

45
0
0
45

In [ ]:
""" 2)a SURVIVAL MONTHS <3 A NAN (dfSVnan), LUEGO A CERO (df0SV)"""
# i) transfromar Survival Months menores de 3 en nan
print((df['Survival Months']<= 3).sum()) # hay 8 registros con Survival Months menor o igual a 3 meses
df['Survival Months']= df['Survival Months'].where(df["Survival Months"] > 3, np.nan) # pone Nan donde Survival Months no sea mayor a 3, es decir que cuando se a menor o igual a 3 deebe ponen Nan
print(df['Survival Months'].isnull().sum()) # me da 8, bien: los 8 del principio
dfSVnans = df
print(dfSVnans)

# ii) Scikit-learn  para transformar estos nan en 0
from sklearn.impute import SimpleImputer

valores = df.values
# definir el imputador
imputador = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0)
# trabsformar el dataset
df0SV = imputador.fit_transform(valores)
# Contar el numero de NaN en cada columna
df0SV=pd.DataFrame(df0SV)
df0SV= df0SV.rename(columns={0:'Age', 1:'Race', 2:'Marital Status', 3:'T Stage',
                                   4:'N Stage', 5:'6th Stage', 6:'differentiate', 7:'Grade',
                                   8:'A Stage', 9:'Tumor Size', 10:'Estrogen Status',
                                   11:'Progesterone Status', 12:'Regional Node Examined',
                                   13:'Reginol Node Positive', 14:'Survival Months',
                                   15:'Status', 16:'Sobrevida'})
df0SV = pd.DataFrame(df0SV)
df0SV

0
8
      Age   Race Marital Status T Stage  N Stage 6th Stage  \
0      68  White        Married       T1      N1       IIA
1      50  White        Married       T2      N2      IIIA
2      58  White       Divorced       T3      N3      IIIC
3      58  White        Married       T1      N1       IIA
4      47  White        Married       T2      N1       IIB
...   ...    ...            ...      ...     ...       ...
4019   62  Other        Married       T1      N1       IIA
4020   56  White       Divorced       T2      N2      IIIA
4021   68  White        Married       T2      N1       IIB
4022   58  Black       Divorced       T2      N1       IIB
4023   46  White        Married       T2      N1       IIB

                  differentiate Grade   A Stage  Tumor Size Estrogen Status  \
0         Poorly differentiated     3  Regional           4        Positive
1     Moderately differentiated     2  Regional          35        Positive
2     Moderately differentiated     2  Regional          63        Positive
3         Poorly differentiated     3  Regional          18        Positive
4         Poorly differentiated     3  Regional          41        Positive
...                         ...   ...       ...         ...             ...
4019  Moderately differentiated     2  Regional           9        Positive
4020  Moderately differentiated     2  Regional          46        Positive
4021  Moderately differentiated     2  Regional          22        Positive
4022  Moderately differentiated     2  Regional          44        Positive
4023  Moderately differentiated     2  Regional          30        Positive

     Progesterone Status  Regional Node Examined  Reginol Node Positive  \
0               Positive                      24                      1
1               Positive                      14                      5
2               Positive                      14                      7
3               Positive                       2                      1
4               Positive                       3                      1
...                  ...                     ...                    ...
4019            Positive                       1                      1
4020            Positive                      14                      8
4021            Negative                      11                      3
4022            Positive                      11                      1
4023            Positive                       7                      2

      Survival Months Status  Sobrevida
0                60.0  Alive       True
1                62.0  Alive       True
2                75.0  Alive       True
3                84.0  Alive       True
4                50.0  Alive      False
...               ...    ...        ...
4019             49.0  Alive      False
4020             69.0  Alive       True
4021             69.0  Alive       True
4022             72.0  Alive       True
4023            100.0  Alive       True

[4024 rows x 17 columns]

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status,Sobrevida
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60.0,Alive,True
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62.0,Alive,True
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75.0,Alive,True
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84.0,Alive,True
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50.0,Alive,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49.0,Alive,False
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69.0,Alive,True
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69.0,Alive,True
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72.0,Alive,True
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100.0,Alive,True

In [ ]:
""" 2)a SURVIVAL MONTHS <3 A cero (df0SV), LUEGO A Moda (dfModaSV)

# iii) transdormar Survival Months menores a 3 en 0
df['Survival Months']= df['Survival Months'].where(df["Survival Months"] > 3, 0)
print((df['Survival Months']==0).sum())  # da 8
df0SV = df
print(df0SV)
df0SV.shape

# iv) Scikit-learn  para reemplazar estos Survival Months 0 por MODA
from sklearn.impute import SimpleImputer

valores = df.values
# definir el imputador
imputador = SimpleImputer(missing_values=0, strategy='most_frequent')
# trabsformar el dataset
dfModaSV = imputador.fit_transform(valores)
# Contar el numero de NaN en cada columna
#print('Missing: %d' % isnan(transformados).sum())
dfModaSV=pd.DataFrame(dfModaSV)
dfModaSV= dfModaSV.rename(columns={0:'Age', 1:'Race', 2:'Marital Status', 3:'T Stage',
                                   4:'N Stage', 5:'6th Stage', 6:'differentiate', 7:'Grade',
                                   8:'A Stage', 9:'Tumor Size', 10:'Estrogen Status',
                                   11:'Progesterone Status', 12:'Regional Node Examined',
                                   13:'Reginol Node Positive', 14:'Survival Months',
                                   15:'Status', 16:'Sobrevida'})
dfModaSV
"""

8
      Age   Race Marital Status T Stage  N Stage 6th Stage  \
0      68  White        Married       T1      N1       IIA
1      50  White        Married       T2      N2      IIIA
2      58  White       Divorced       T3      N3      IIIC
3      58  White        Married       T1      N1       IIA
4      47  White        Married       T2      N1       IIB
...   ...    ...            ...      ...     ...       ...
4019   62  Other        Married       T1      N1       IIA
4020   56  White       Divorced       T2      N2      IIIA
4021   68  White        Married       T2      N1       IIB
4022   58  Black       Divorced       T2      N1       IIB
4023   46  White        Married       T2      N1       IIB

                  differentiate Grade   A Stage  Tumor Size Estrogen Status  \
0         Poorly differentiated     3  Regional           4        Positive
1     Moderately differentiated     2  Regional          35        Positive
2     Moderately differentiated     2  Regional          63        Positive
3         Poorly differentiated     3  Regional          18        Positive
4         Poorly differentiated     3  Regional          41        Positive
...                         ...   ...       ...         ...             ...
4019  Moderately differentiated     2  Regional           9        Positive
4020  Moderately differentiated     2  Regional          46        Positive
4021  Moderately differentiated     2  Regional          22        Positive
4022  Moderately differentiated     2  Regional          44        Positive
4023  Moderately differentiated     2  Regional          30        Positive

     Progesterone Status  Regional Node Examined  Reginol Node Positive  \
0               Positive                      24                      1
1               Positive                      14                      5
2               Positive                      14                      7
3               Positive                       2                      1
4               Positive                       3                      1
...                  ...                     ...                    ...
4019            Positive                       1                      1
4020            Positive                      14                      8
4021            Negative                      11                      3
4022            Positive                      11                      1
4023            Positive                       7                      2

      Survival Months Status  Sobrevida
0                  60  Alive       True
1                  62  Alive       True
2                  75  Alive       True
3                  84  Alive       True
4                  50  Alive      False
...               ...    ...        ...
4019               49  Alive      False
4020               69  Alive       True
4021               69  Alive       True
4022               72  Alive       True
4023              100  Alive       True

[4024 rows x 17 columns]

"\n# iv) Scikit-learn  para reemplazar estos Survival Months 0 por MODA \nfrom sklearn.impute import SimpleImputer\n\nvalores = df.values\n# definir el imputador\nimputador = SimpleImputer(missing_values=0, strategy='most_frequent')\n# trabsformar el dataset\ndfModaSV = imputador.fit_transform(valores)\n# Contar el numero de NaN en cada columna\n#print('Missing: %d' % isnan(transformados).sum())\ndfModaSV=pd.DataFrame(dfModaSV)\ndfModaSV= dfModaSV.rename(columns={0:'Age', 1:'Race', 2:'Marital Status', 3:'T Stage', \n                                   4:'N Stage', 5:'6th Stage', 6:'differentiate', 7:'Grade', \n                                   8:'A Stage', 9:'Tumor Size', 10:'Estrogen Status',\n                                   11:'Progesterone Status', 12:'Regional Node Examined',\n                                   13:'Reginol Node Positive', 14:'Survival Months', \n                                   15:'Status', 16:'Sobrevida'})\ndfModaSV\n"

In [ ]:
""" 2b) ELIMINAR FILAS CON SURVIVAL MONTHS NAN (dfSVnans)  """
"""
#dfSVnans.shape #4024, 17
# remover filas con na
dfSVnans.dropna(inplace=True)
dfSVnans.shape # 4016, 17 --> sabemos que habiamos transformado 8 valores a nans
"""

""" 2b) ELIMINAR FILAS CON SURVIVAL MONTHS 0 (df0SV)  """
# Filtrar el DataFrame
#df0SV.shape #4024 rows x 17 columns

df0SV_filtered = df0SV[df0SV['Survival Months'] != 0]
df0SV_filtered
df0SV_filtered.shape # 4016, 17

(4016, 17)

In [ ]:
# 3) ELIMINAR COLUMNA ENTERA PORQUE NO APORTA A MI ANALISIS:
# por ejemplo, quiero eliminar la columna que yo cree: "Sobrevida"

dfModificada = df0SV_filtered.drop(["Sobrevida"], axis=1, inplace=True)
dfModificada

## ERRORR ME DA NONTYPE ESTA DFMODIFICADA

<ipython-input-135-069fd94b6e17>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfModificada = df0SV_filtered.drop(["Sobrevida"], axis=1, inplace=True)

Con todas las transformaciones realizadas en este desarrollo, queda entonces una base **dfModificada**, que diferira en la base df en que:
- Quite la columna creada "Sobrevida".
- Reemplace los Divorciados en "Marital Status", por Separados
- Elimine los registros cuyos meses de sobrevivenia eran iguales o menores a 3 meses.